{% include 'shop/header.html' %}
{% load static %}
    <div class="banner">
        <img src="{% static 'shop/images/banner.jpg' %}" alt="Supermarket Banner">
    </div>

    <div class="featured-products">
        <h2>Featured Products</h2>
        <div class="product-list">
            <!-- Repeat for each featured product -->
            {% for p in data %}
            <div class="product">
                <img style="width:250px; height:250px;" src="{{ p.p_img.url }}" alt="Product">
                <h3>{{p.name}}</h3>
                <p>{{p.sell}}</p>
                <a href="{% url 'explore' %}">View Details</a>
            </div>
            {% endfor %}
            <!-- End of repeat -->
        </div>
    </div>

    <div class="deals">
        <h2>Hot Deals</h2>
        <div class="deal-list">
            <!-- Repeat for each deal -->
            <div class="deal">
                <img src="{% static 'shop/images/deal1.jpg' %}" alt="Deal">
                <h3>Deal Name</h3>
                <p>Discount: 20%</p>
                <a href="#">Get Deal</a>
            </div>
            <!-- End of repeat -->
        </div>
    </div>
{% include 'shop/footer.html' %}
