{% include 'shop/header.html' %}
{% load static %}
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <!-- NIC# -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <!-- Password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

              {% if messages %}
            {% for msg in messages %}
                 <p style="color:red">
                     {{msg}}
                 </p>

            {% endfor %}
        {% endif %}
        <div style="display: flex; justify-content: space-between">
            <button type="submit">Login</button>
            <a href="{% url 'signup' %}" style="color:#3298db; text-decoration:none">
                Create an Account
            </a>
        </div>
    </form>

{% include 'shop/footer.html' %}

